@model IEnumerable<ORMAprill29ASPMvc6.Models.Studinfo>

@{
    ViewData["Title"] = "StudentAllShow";
}

<h3>StudentAllShow</h3>


@*<table class="table">
        <thead>
            <tr>
                     <th>
                     <span class="glyphicon glyphicon-picture"></span> Image
                     </th>
                    <th>
                        <span class="glyphicon glyphicon-user"></span>
                       @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>

                        <span class="glyphicon glyphicon-log-in"></span>
                        @Html.DisplayNameFor(model => model.Cnic)
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-lock"></span>
                        @Html.DisplayNameFor(model => model.Adress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dob)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>*@







@foreach (var item in Model)
{
    <div class="panel panel-success">
        <div class="panel panel-body">


            <div class="col-md-4">
                <img src="~/images/Pict-iqbal.jpg" class="img-thumbnail " style="max-width:120px" />
            </div>
            <div class="col-md-8">
               @*<span class="glyphicon glyphicon-apple"></span> @item.Name*@
               <p> @item.Name</p> 
                <p> @item.Adress</p> 
                <p> @item.Cnic</p> 
                <p> @item.Dob</p> 
              
                <div class="text-right">
                    <a href="/First/StudentDelete?id=@item.Id " class="btn btn-success">  <span class="glyphicon glyphicon-apple"></span> StudentDelete</a>

                    <a href="/first/StudentDetail?id=@item.Id" class="btn btn-default">StudentDetail</a>
                </div>
            </div>
        </div>
    </div>

           //...................................list group item...........................

    @*<ul class="list-group">
        <div class="col-md-4 ">
            <li class="list-group-item"><img src="~/images/Pict-iqbal.jpg" class="img-circle " /></li>
        </div>
        <div class="col-md-8">
            <li class="list-group-item">@item.Name</li>
            <li class="list-group-item">@item.Adress</li>
            <li class="list-group-item">@item.Cnic</li>
            <li class="list-group-item">@item.Dob</li>
        </div>
    </ul>
    <br />
    <div class="clearfix">

    </div>*@

}
<div class="clearfix">

</div>



